<div class="modal dy-game-menu" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Pause</span>
            </div>
            <div class="modal-body">
                <div data-ng-switch on="getCurrentView()">
                    <div data-ng-switch-when="instructions">
                        <div class="row dy-game-guide">
                            <div class="col-sm-4 col-xs-6">
                                <span>Key:</span> &uparrow; <span>Rotate Right</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span>Key:</span> &rightarrow; <span>Move Right</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span>Key:</span> &downarrow; <span>Soft Drop</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span>Key:</span> &leftarrow; <span>Move Left</span>
                            </div>
                            <div class="col-sm-8">
                                <span>Space key:</span> <span>Hard Drop</span>
                            </div>
                        </div>
                        <div class="row dy-game-settings">
                            <div class="col-sm-12">
                                <span>Level:</span>
                                <div di-bootstrap-slider></div>
                            </div>
                        </div>
                        <div class="row dy-game-design">
                            <div class="col-sm-12">
                                <button class="pull-left btn btn-success"
                                    data-ng-click="designNewPiece()">
                                    <span>Design Your Own Piece</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch-when="design">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn pull-left btn-default dy-back-btn"
                                    data-ng-click="goBack()">&lt;Back to instruction</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div di-design-piece></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dy-game-buttons">
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-danger"
                            data-ng-click="endGame()">
                            <span class="hidden-xs">End Game</span>
                            <span class="visible-xs">End</span>
                        </button>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-warning"
                            data-ng-click="restartGame()">
                            <span class="hidden-xs">Restart Game</span>
                            <span class="visible-xs">Restart</span>
                        </button>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <button class="btn btn-success"
                            data-ng-click="continueGame()">
                            <span class="hidden-xs">Continue Game</span>
                            <span class="visible-xs">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>