<div class="dy-design-piece">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li>Instruction:</li>
                <li>1. Click on 4 by 4 sqare grid (green border one)</li> 
                <li>2. Click save button.</li>
            </ul>
            <div data-ng-messages="dp.errorCode"
                class="dy-alert"
                data-ng-style="dp.getTop()"
                data-ng-if="dp.interacted()">
                <div data-ng-message="maxlength"
                    class="alert alert-danger"
                    role="alert">
                    You selected over {{::dp.getMaxPiece()}} cells.
                </div>
                <div data-ng-message="saved"
                    class="alert alert-success"
                    role="alert">
                    You piece is saved and ready to use.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="dy-design-container" 
                data-ng-repeat="i in [0, 90 , 180, 270]"
                data-ng-class="'dy-' + i">
                <ul class="dy-piece-ul">
                   <li data-ng-repeat="i in dp.pieces track by $index"
                        class="dy-piece-li"
                        data-ng-class="{'dy-checked': dp.isSelected($index)}"
                        data-ng-style="{'background-color': dp.getColorByIndex($index)}"
                        data-ng-click="dp.onClick($index)"></li> 
                </ul>
                <div data-ng-class="'dy-preview-' + i"
                    data-ng-if="i !== 0">Preview <i class="fa fa-repeat"></i> {{i}}&#176;</div>
            </div>
        </div>
    </div>
    <div class="row dy-color-section">
        <div class="col-sm-3">
            <span>Your color:</span>
            <ul>
                <li class="dy-color dy-your-color"
                    data-ng-style="dp.getColor()"></li>
            </ul>
        </div> 
        <div class="col-sm-9">
            <span>Pick a color:</span>
            <ul>
                <li data-ng-repeat="color in dp.colors"
                    data-ng-style="{background: color}"
                    data-ng-click="dp.pickColor(color)"
                    class="dy-color"></li>
            </ul>
        </div>
    </div>
</div>