.dy-piece {
  position: absolute;
  .transition(all, .3s, linear);
  top: 0;
  left: 10px;
  .dy-piece-ul {
    .size(4 * @game-cell-size); 
  }
  .dy-piece-li {
    .size(@game-cell-size);
    display: inline-block;
    vertical-align: top;
  }
  .dy-pattern {
    border: 1px solid #bbaaa0;
    &:before {
      content: '\f08a'
    }
  }
  .dy-L .dy-pattern {
    background-color: @L-color;
  }
  .dy-O .dy-pattern {
    background-color: @O-color;
  }
  .dy-I .dy-pattern {
    background-color: @L-color;
  }
  .dy-T .dy-pattern {
    background-color: @T-color;
  }
  .dy-J .dy-pattern {
    background-color: @J-color;
  }
  .dy-S .dy-pattern {
    background-color: @S-color;
  }
  .dy-Z .dy-pattern {
    background-color: @Z-color;
  }
}