<div class="di-mobile-controller">
    <div class="dy-mobile-btn col-sm-3 col-xs-3 btn key light"
        data-ng-click="vm.move('left')">
        <i class="fa fa-play fa-rotate-180"></i>
    </div>
    <div class="dy-mobile-btn col-sm-3 col-xs-3 btn key light"
        data-ng-click="vm.move('right')">
        <i class="fa fa-play"></i>
    </div>
    <div class="dy-mobile-btn col-sm-3 col-xs-3 btn key light"
        data-ng-click="vm.move('up')">
        <i class="fa fa-rotate-right"></i>
    </div>
    <div class="dy-mobile-btn col-sm-3 col-xs-3 btn key light"
        data-ng-click="vm.pause()">
        <i class="fa fa-gears"></i>
    </div>
</div>