<div class="dy-home">
    <div di-game-menu></div>
    <div class="row">
        <div class="dy-game-title col-sm-7 col-xs-6">NgTetris</div>
        <div class="dy-instructions col-sm-5 col-xs-6">
            Let's play the game.
        </div>
    </div>
    <div class="dy-game-container row">
        <div class="col-sm-4 dy-score-container">
            <div class="dy-best-score btn"
                data-ng-bind="getBestScore()"></div>
            <div class="btn dy-speed-role"
                data-ng-click="setGameSpeed()"
                data-ng-bind="getGameSpeed()">
            </div>
            <div class="dy-score btn" 
                data-ng-bind="getScore()"
                ng-show="getScore() > 0 || isGameStart()">
            </div>
            <div class="btn dy-design-new-tetris"
                data-ng-click="openDesignMenu()"
                data-ng-show="!isGameStart()">
                <i class="fa fa-puzzle-piece"></i>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="dy-game-control">
                <!-- game board here -->
                <div di-game-board></div>
                <!-- start button here -->
                <div class="dy-game-start-btn">
                    <div class="dy-game-start"
                        data-ng-show="!isGameStart() && !isGameEnd()">
                        <button class="dy-new-game-btn hollow dy-button" 
                            data-ng-click="startNewGame()">
                            New Game
                        </button>
                    </div>
                    <div class="dy-game-over"
                        data-ng-show="!isGameStart() && isGameEnd()">
                        <div data-ng-show="isNewRecord()"
                            class="dy-new-record pulse">
                            New Record:<br>
                            <span data-ng-bind="getBestScore()"></span>
                        </div>
                        <div data-ng-show="!isNewRecord()"
                            class="dy-your-score">
                            Your Score:<br>
                            <span data-ng-bind="getScore()"></span>
                        </div>
                        <p>Game Over</p>
                        <div class="dy-game-restart">
                            <button class="dy-new-game-btn hollow dy-button"
                                data-ng-click="restartNewGame()">
                                Try again
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dy-how-to-pause row">
        PRESS ESC OR P TO PAUSE AND VIEW/EDIT CONTROLS
    </div>
    <hr>
    <p>
        Created by <a href="https://github.com/davishacker" target="_blank">Daihua Ye</a>. This is the completed redesign version of my previous <a href="http://tetrisgame.heroku.com/" target="_blank">Tetris game</a>. This version is built on top of <a href="https://angularjs.org/" target="_blank">AngularJS</a>. And the idea for ngTetris is inspired by <a href="http://ng2048.github.io/" target="_blank">ng-2048</a>.
    </p>
</div>