.dy-home {
  .dy-game-title {
    font-size: 65px;
    font-weight: bold;
    color: rgb(119, 110, 101);
  }
  button {
    background: #8f7a66;
    .border-radius(3px);
    text-decoration: none;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    color: #f9f6f2;
    padding: 0 20px;
    border: none;
    float: right;
  }
  .dy-score {
    display: inline-block;
  }
  .dy-best-score {
    display: inline-block;
  }
}