<div class="dy-home">
    <div class="row">
        <div class="dy-game-title col-sm-7 col-xs-5">NgTetris</div>
        <div class="col-sm-5 col-xs-7">
            <div class="dy-best-score pull-right">
                1000
            </div>
            <div class="dy-score pull-right" 
                data-ng-bind="getScore()">
            </div>
        </div>
    </div
    ><div class="row">
        <div class="dy-instructions col-sm-5 col-xs-5">
            Let's play the game.
        </div
        ><div class="col-sm-7 col-xs-7">
            <button data-ng-click="startNewGame()" 
                    data-ng-show="!isGameStart()">
                    New Game
            </button
            ><button data-ng-show="isGameStart() && !isPause()"
                    data-ng-click="pauseGame()">
                    Pause Game
            </button
            ><button data-ng-show="isGameStart() && isPause()"
                    data-ng-click="continueGame()">
                    Continue Game    
            </button>
        </div>
    </div>
    
    <div class="dy-game-container">
        <div di-game-board></div>
    </div>    

</div>